@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.dark{
    background: #021c1e;
    transition: all 0.5s ease;
}

.light{
    background: #F5CA99;
    transition: all 0.5s ease;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 2%;
    right: 6%;
    transform: translateX(-50%);
    top:3.5%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2C7873;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .dark .change{
      margin: -30% -200% 0;
      font-weight: 300;
      font-size: 15px;
      color: bisque;
      position: absolute;
      transition: all 0.5s ease;
  }

  .light .change{
    margin: -30% -200% 0;
    font-weight: 300;
    font-size: 15px;
    color: #b51d0a;
    position: absolute;
    transition: all 0.5s ease;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #FE7A47;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.dark .pic{
    width: 20%;
    position: absolute;
    margin: 6% 15% 0;
    transition: all 0.5s ease;
}

.light .pic{
    width: 22%;
    position: absolute;
    margin: 5% 14% 0;
    transition: all 0.5s ease;
}
.wrapper{
    width: 45%;
    margin: 7% 47% 0;
}
.dark .Me{
    color: bisque;
    margin: 28% 15% 0;
    transition: all 0.5s ease;
    position: absolute;
}

.light .Me{
    color: #b51d0a;
    margin: 29% 15% 0;
    transition: all 0.5s ease;
    position: absolute;
}
.dark .Greetings{
    color: bisque;
    text-align: center;
    margin-top: 3%;
    transition: all 0.5s ease;
}


.light .Greetings{
    color: #b51d0a;
    text-align: center;
    margin-top: 3%;
    transition: all 0.5s ease;
}




.dark .wrapper .Accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    background: #2C7873;
    padding: 13px;
    color: #004445;
    font-weight: 700;
    border-bottom: 3px solid #004445;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

.light .wrapper .Accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    background: #FE7A47;
    padding: 13px;
    color: #D8412F;
    font-weight: 700;
    border-bottom: 3px solid #D8412F;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
}

#b51d0a

.dark .wrapper .Accordion_wrap .accordion_header:hover{
    border-bottom: pink;
    transition: all 0.5s ease;
}

.light .wrapper .Accordion_wrap .accordion_header:hover{
    border-color:  #b51d0a;
    transition: all 0.5s ease;
}

.dark .wrapper .Accordion_wrap .accordion_header:hover:after,
.dark .wrapper .Accordion_wrap .accordion_header:hover:before{
    background: bisque;
}

.light .wrapper .Accordion_wrap .accordion_header:hover:after,
.light .wrapper .Accordion_wrap .accordion_header:hover:before{
    background: #b51d0a;
}

.dark .wrapper .Accordion_wrap .accordion_header:after,
.dark .wrapper .Accordion_wrap .accordion_header:before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 3%;
    width: 3%;
    height: 2px;
    background: #004445;
}

.light .wrapper .Accordion_wrap .accordion_header:after,
.light .wrapper .Accordion_wrap .accordion_header:before{
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 3%;
    width: 3%;
    height: 2px;
    background:#D8412F;
}

.dark .wrapper .Accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.light .wrapper .Accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.dark .wrapper .Accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #004445;
    border-radius: 5px;
    overflow: hidden;
}

.light .wrapper .Accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #D8412F;
    border-radius: 5px;
    overflow: hidden;
}


.dark .wrapper .Accordion_wrap .accordion_body li{
    color: whitesmoke;
    padding: 1%;
    font-size: 13px;
    line-height: 22px;
    margin-left: 3%;
    transition: all 0.5s ease;
}

.light .wrapper .Accordion_wrap .accordion_body li{
    color: #F5CA99;
    padding: 1%;
    font-size: 13px;
    line-height: 22px;
    margin-left: 3%;
    transition: all 0.5s ease;
}


.dark .wrapper .Accordion_wrap .accordion_header.active{
    border-color: bisque;
    color: bisque;
}

.light .wrapper .Accordion_wrap .accordion_header.active{
    border-color: #b51d0a;
    color: #b51d0a;
}

.dark .wrapper .Accordion_wrap .accordion_header.active:after,
.dark .wrapper .Accordion_wrap .accordion_header.active:before{
    background: bisque;
}

.light .wrapper .Accordion_wrap .accordion_header.active:after,
.light .wrapper .Accordion_wrap .accordion_header.active:before{
    background: #b51d0a;
}


.wrapper .Accordion_wrap .accordion_header.active:after{
    transform: rotate(0deg);
}

.wrapper .Accordion_wrap .accordion_header.active + .accordion_body{
    height: 250px;
    transition: all 0.5s ease;
}

.accordion_header.active + #List1{
    height: 140px;
}

.accordion_header.active + #List3{
    height: 40px;
}