<!DOCTYPE html>
{% load static %}
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link id="pagestyle" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<script type = "text/javascript" src ="{% static 'js/index.js' %}"></script>
<title>Story 7 Ocit</title>
</head>

<body class="dark"> 
    <h1 class="Greetings">Tentang Saya</h1>
    <h1 class="Me">Muhammad Rasyid</h1>
    <img src="{% static 'picture/1.png' %}" class="pic"> 
    <div class="wrapper">
        <div class="Accordion_wrap">
            <div class="accordion_header">Aktivitas</div>
            <div class="accordion_body" id="List1">
                <li>Mengejar gelar S.Kom di Fakultas Ilmu Komputer, Universitas Indonesia</li>
                <li>Menyukseskan Bimbingan Belajar Gratis (BETIS) Fasilkom UI 2020</li>
                <li>Merancang Start-up dibidang sosial-lingkungan</li>
                <li>Senantiasa mengejar ridho orang tua</li>
            </div>
        </div>
        <div class="Accordion_wrap">
            <div class="accordion_header">Pengalaman berorganisasi/kepanitiaan</div>
            <div class="accordion_body" id="List2">
                <li>Pelatih Pelatihan Kaderisasi OSIS SMAN 5 Bandung 2017</li>
                <li>Anggota Duta HAM Jabar 2016-2017</li>
                <li>Staf Keamanan Olimpiade UI 2018</li>
                <li>Volunteer staf divisi keamanan TryOut MasukKampus chapter Bekasi 2019</li>
                <li>Staf Departemen Pengabdian Masyarakata BEM Fasilkom UI 2019</li>
                <li>Staf Bazar dan Konsumsi CGT Fasilkom UI 2019</li>
                <li>Staf Equipment and Security COMPFEST 11</li>
            </div>
        </div>
        <div class="Accordion_wrap">
            <div class="accordion_header">Penghargaan</div>
            <div class="accordion_body" id="List3">
                <li>Dilahirkan di Bumi dalam keadaan sehat walafiat</li>
            </div>
        </div>
    </div>
    <label class="switch">
        <input class="theme" type="checkbox">
        <span class="slider round"></span>
        <h2 class="change">Ganti Tema</h2>
    </label>
</body>

</html>